h1 {
    font-family: "arial","Source Sans Pro", sans-serif;
    font-weight: normal;
}
h2 {
    font-weight: normal;
}
[id="test"] {
    font-weight: normal;
}
body {
    max-width: 500px;
    background: linear-gradient(135deg, #00ff23 22%,#ff9900 89%);
    background-attachment: fixed;
    color: #0077ff;
    align-items: center;
}
[id="pfpsect"] {
    float: left;
}


.test {
    position:absolute;
    right: 200px;
    
}

[id="pfp"]{
    max-width: 200px;
    margin-right: 10px;
}
[id="mainCrap"] {
    float: left;
}