#mainshoot {
    text-align: center;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

}
body {
    background: linear-gradient(180deg,#9fcfcf 60%,#ffffff);
}
h1 {
    size: 200%;
}
[id="footerlolz"] {
    margin-top: auto;
    min-height: 10vh;
    margin-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.button {
    margin: 5px auto;
}

.filebuttons {
    display: flex;
    margin: 10px;
    height: 30px;
}

.announcediv {
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    min-height: 20vh;
}
#announcetext {
    font-weight: normal;
}